@font-face {
    font-family: main;
    src: url(main.otf);
  }
body {
    background-image: url('desk/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: main;
  }
.cond {
    text-align: right;
    color: white;
    padding-right: 1rem;
}
.tittle {
    color: white;
    text-align: center;
    size: 20px;
}
.fucked {
    padding-bottom: 1rem;
}
.blowjob {
    padding-top: 2rem;
}
.container {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    width: 500px;
    font-size: 18px;
    padding: 0.5rem;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(32, 32, 32);
    color: rgb(233, 233, 233);
    border-color: white;
}
.searchBtn {
    padding: 10px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    background-color: #01f3fd;
    color: rgb(233, 233, 233);
    border-color: white;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgb(32, 32, 32);
    color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.search-option {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-color: rgb(233, 233, 233);
    border-radius: 12px;
}
.linkbokep {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}
.ambatakan img {
    width: 32px;
    height: auto;
    display: block;
}
.popup-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.popup-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-button:hover {
    transform: scale(1.1);
}